<head>
  <meta charset="UTF-8">
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="Get in touch with the 'Break the Cycle' team. Reach out for collaborations, support, or to learn more about how you can help empower youth.">
  <meta name="author" content="Burgundary & YCAP">
  <meta name="keywords" content="Break the Cycle, contact, youth empowerment, student support, YCAP, Burgundary">

  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/contact.css">
  <script src="/js/contact.js" defer></script>

  <title>Contact – Break the Cycle</title>
</head>