<head>
  <meta charset="UTF-8">
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="Explore the evidence behind the issues: statistics, student experiences, and real data that highlight the impact of cyber addiction, plagiarism, and underperformance.">
  <meta name="author" content="Burgundary & YCAP">
  <meta name="keywords" content="Break the Cycle, evidence, youth challenges, student statistics, cyber addiction research, academic integrity data">

  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/evidence.css">
  <script src="/js/evidence.js" defer></script>

  <title>Evidence – Break the Cycle</title>
</head>