<head>
  <meta charset="UTF-8">
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="Discover the main problems students face today, including cyber addiction, plagiarism, and academic underperformance, and why addressing them is vital.">
  <meta name="author" content="Burgundary & YCAP">
  <meta name="keywords" content="Break the Cycle, student problems, cyber addiction, plagiarism, academic underperformance, youth challenges">

  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/problems.css">
  <script src="/js/problems.js" defer></script>

  <title>Problems – Break the Cycle</title>
</head>