 <header>
    <nav class="navboard">
      <h1>Break the Cycle</h1>
      <p class="tagline">Breaking barriers. Building futures.</p>
      <ul>
        <li><a href="https://break-the-cycle-n0k1.onrender.com/">Home</a></li>
        <li><a href="https://break-the-cycle-n0k1.onrender.com/problems">Problems</a></li>

        <li><a href=" https://break-the-cycle-n0k1.onrender.com/solutions">Solutions</a></li>

        <li><a href=" https://break-the-cycle-n0k1.onrender.com/evidence">Evidence</a></li>

        <li><a href=" https://break-the-cycle-n0k1.onrender.com/contact">Contact</a></li>
      </ul>
    </nav>
  </header>