<header>
    <nav class="navboard">
      <h1>Break the Cycle</h1>
      <p class="tagline">Breaking barriers. Building futures.</p>
      <ul>
        <li><a href="http://localhost:3500/about">About</a></li>
        <li><a href="http://localhost:3500/problems">Problems</a></li>
        <li><a href="http://localhost:3500/solutions">Solutions</a></li>
        <li><a href="http://localhost:3500/evidence">Evidence</a></li>
        <li><a href="http://localhost:3500/">Home</a></li>
      </ul>
    </nav>
  </header>